<!-- 

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. -->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printer Driver</title>
</head>

<body>
    <div class="ml-5" id="google_translate_element" style=" top: 10px; right: 10px;"></div>
    Hello

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript"
        src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>

        window.addEventListener('message', (event) => {
            // Make sure to check the origin of the message for security purposes
            if (event.origin !== "http://localhost:3000" && event.origin !== "https://eatify-22231.web.app"
                && event.origin !== "https://7dollar.delivery" && event.origin !== "https://eatifydash.com"
                && event.origin !== "https://yumcha.app"
            ) {
                return; // Ignore messages from unknown origins
            }
            if (event.data.type === 'listOrder') {
                console.log('listOrder_received:', event.data.json);
                fetch('/listOrder', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'PrintQRcode') {
                console.log('PrintQRcode_received:', event.data.json);
                fetch('/PrintQRcode', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'OpenCashDraw') {
                console.log('OpenCashDraw_received:', event.data.json);
                fetch('/OpenCashDraw', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'SendToKitchen') {
                console.log('SendToKitchen_received:', event.data.json);
                fetch('/SendToKitchen', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'DeletedSendToKitchen') {
                console.log('DeletedSendToKitchen_received:', event.data.json);
                fetch('/DeletedSendToKitchen', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'CustomerReceipt') {
                console.log('CustomerReceipt_received:', event.data.json);
                fetch('/CustomerReceipt', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'MerchantReceipt') {
                console.log('MerchantReceipt_received:', event.data.json);
                fetch('/MerchantReceipt', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
            if (event.data.type === 'bankReceipt') {
                console.log('bankReceipt_received:', event.data.json);
                fetch('/bankReceipt', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(event.data.json)
                });
            }
        });

    </script>
</body>

</html>